@media (min-width: 960px){
  
  .home{
    height: 100vh;
  }
  
  .main{
    margin: 6%;
  }
  
  .main h1{
    font-size: 3.5em;
  }

  .main p{
    margin-bottom: 5%;
  }

  .main-img{
    margin-top: 5%;
  } 

  #projects{
    height: 100vh;
  }

  #about{
    height: 100vh;
  }

  .social a{
    display: inline-block;
    margin-top: 0px;
    margin-right: 90px;
  }
  .social a:last-of-type{
    margin-right: 0px;
  }
    
}
#sidenav-overlay {
position: unset !important;
}